#box-model{
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    border-top: 10px solid gold;
    border-bottom: 5px solid #000;
    border-right: 10px solid green;
    border-left: 15px double purple;
    border-radius: 15px;
    padding: 20px 60px;
    background-color: rgba(255, 0, 0, 0.514);
    margin: 3px 5px 9px 13px;
    outline: 5px solid blue;
    outline-color: dodgerblue;

}

.texto-model{
    color: #339;
    padding: 20px 10px;

}